body,
textarea,
#splash-button,
#wavepost,
#wavebutton {
  font-family: "Maven Pro", sans-serif;
}

#heading{
  font-family: "Cinzel", serif;
  font-size: 40px;
  position: relative;
  padding-right: 15vw;
}

#header {
 text-align: right;
 padding-right: 2vw;
 padding-top: 2vw;
 padding-bottom: 2vw;
 background-color: rgba(51,79,181,.64);
}

#following-tab{
  font-size: x-small;
}

#favorites-tab{
  font-size: x-small;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  width: 100%;
  max-width: 1000px;
  overflow: scroll;
}

#header > button {
  font-family: 'Architects Daughter', cursive;
 font-size: 1.3em;
 background-color: white;
 border-radius: 3px;
 border: 1px solid grey;
 margin: auto;
 float: left;
}

#new-wave-div{
  text-align: center;
  margin-top: 20px;
}

#cover {
 height: 20vh;
 background-color: grey;

}

/*#profile {
  width: 400px;
  height: 800px;
  background-color: rgba(20,117,180,.75);
  border: solid black 1px;
  z-index: 100;
  position: absolute;
  top: 94px;
  left: -420px;
  opacity: 0;
  transition: all 1s ease-in-out;
}*/

.profile-div.right {
  transform: translateX(420px);
  opacity: 1;
}

#river {
  transition: all 1s ease-in-out;
  background-color: rgba(10,112,186,.31);
}

#river.right {
  transform: translateX(420px);
}

.name {
  padding-top: 10px;
}

.profile-pic {
  width: 360px;
  height: 360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.location,
.name,
.about {
  padding-top: 20px;
  padding-left: 20px;
}

.about,
.location {
  padding-right: 20px;
}

.waves {
  padding: 20px;
  border: solid 1px black;
  overflow: hidden;
  margin-bottom: 20px;
}

.thumbnail {
  float: left;
  margin-right: 10px;
  max-width: 100px;
  max-height: 100px;
}

.timestamp {
  float: left;
  max-width: 70px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.star {
  /* fa-star */
  float: right;
  border: none;
  background-color: white;
  margin-top: -15px;
  color: rgb(238,223,23);
  /*change to yellow on click*/
}

.ship {
  /* fa-ship */
  float: right;
  border: none;
  background-color: rgba(20,117,180,.75);
  margin-top: -15px;
  color: white;
  /* change to black? on click */
}

.wave {
  padding-right: 25px;
}

.wave,
.name,
.handle {
  font-weight: bold;
}

#header {
  margin-bottom: 40px;
}

#new-wave-button {
  text-align: center;
  margin-bottom: 20px;
}

#make-a-wave {
  margin-bottom: 20px;
  height:200px;
  width: 600px;
  font-size: 18px;
}

.wave-button,
.wave-send {
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(137,226,235);
  border: solid white 1px;
}

.wave-creator {
  margin-bottom: 20px;
  height: 200px;
  width: 600px;
  font-size: 18px;
}

.wave-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.new-wave-div,
.lake,
.wave-button,
.wave-send{
  transition: all 1s ease-in-out;
}

/*.new-wave-div.up,
.lake.up {
  transform: translateY(-280px);
}*/
.new-wave-div.up,
.wave-send.up,
.wave-button.down {
  opacity: 0;
}
.wave-button.down,
.wave-send.up {
  pointer-events: none;
}
button {
  cursor: pointer;
}

#following-tab {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  float: right;
}

#favorites-tab {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  float: right;
  padding-right: 10px;
}

#profile-details {
 width: 20vw;
 float: left;
 border: 1px solid rgba(51,79,181,.64);
 border-radius: 3px;
}

#river {
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
  float: right;
  background-color: rgba(10,112,186,.31);
}
