body,
newWave {
  background-color: rgb(2, 40, 108);
  text-color: white;
}

#header {
 text-align: right;
 padding-right: 2vw;
 padding-top: 2vw;
 padding-bottom: 2vw;
 background-color: rgba(51, 79, 181, 0.64);
}

#header > button {
 font-size: 1.3em;
 background-color: white;
 border-radius: 3px;
 border: 1px solid grey;
 padding-left: 10vw;
 float: right;
}

#header > span {
}

#cover {
 height: 20vh;
 background-color: grey;

}

#profile-image {
 height: 4vh;
}

#profile-image > img {
 position: relative;
 top: -7vh;
 left: 2vw;
 height: 15vh;
 border: 1px solid grey;
}

#profile-details {
 width: 20vw;
 float: left;
 border: 1px solid rgba(51, 79, 181, 0.64);
 border-radius: 3px;
}

#river {
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
  float: right;
  background-color: rgba(10, 112, 186, 0.31);
}

.wave-image {
  height: 5vh;
  width: 5vw;
}


.waves {
  padding: 20px;
  border: solid 1px black;
  overflow: hidden;
  margin-bottom: 20px;
  width: 60%;
  padding: 30px 20px 30px 20px;
}

.wave-image {
 width: 20%;
 float: left;
}

.wave-header {
  float: left;
  position: relative;
  top: 3vh;
}

.wave-content {
  position: relative;
  top: 4vh;
}

